@import './base.css';

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

body * {
  box-sizing: border-box;
  font-family: var(--base-font-family);
  margin: 0;
  padding: 0;
}

section {
  background-image: url('../images/bg-snow.png');
  margin: 0;
  padding: 0;
  max-width: 1440px;
  width: 100%;
  scroll-margin-top: 64px;
  margin: 0 auto;
}

.header {
  background-color: var(--static-white);
  max-width: 1440px;
  width: 100%;
  height: 64px;
  padding: 12px 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header-container {
  max-width: var(--container-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  text-transform: var(--h1-text-transform);
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--dark);
  padding: 8px 20px;
}

.logo:hover {
  cursor: pointer;
}

.logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.logo-text {
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.nav-item {
  display: inline-block;
  padding: 12px 20px;
  color: var(--dark);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 700;
  transition: all 0.3s ease;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-item:hover {
  background-color: var(--primary-10);
  color: var(--primary);
}

.nav-item.active {
  background-color: var(--primary);
  color: var(--primary);
}

.hero {
  max-width: 1440px;
  height: 524px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 24px 24px 0 0;
  overflow: hidden;
}

.garland-bg {
  max-width: 1440px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 11;
}

.christmas-ball-image {
  position: relative;
  top: 50%;
  left: 50%;
  max-width: 1440px;
  width: 100%;
  transform: translate(-50%, -50%);
  height: 100%;
  background-image: url('../images/bg-ball.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.christmas-ball {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 404px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 60px;
  z-index: 12;
  gap: 12px;
}

.merry-christmas,
.new-year {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-style: normal;
  color: var(--static-white);
}

.christmas-ball h1 {
  color: var(--static-white);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  text-transform: var(--base-text-transform);
  font-size: var(--h1-font-size);
  line-height: 1.5em;
  letter-spacing: 0.18em;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.btn-primary {
  background: var(--dark);
  color: var(--static-white);
  border: none;
  padding: 20px 32px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
  font-size: 12px;
  line-height: 152%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: var(--static-white);
  color: var(--dark);
}

.about {
  background-color: var(--primary);
  max-width: 1440px;
  height: 648px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  width: 100%;
  border-radius: 20px;
  height: 528px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--static-white);
  margin: 20px 80px;
  padding: 0;
}

.about-text-container {
  height: 100%;
  margin: 0;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  padding: 50px 100px 50px 0px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.about-label {
  color: var(--primary);
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-style: normal;
}

.about-text h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
}

.about-text p {
  font-size: 16px;
  line-height: 148%;
  font-weight: 400;
  text-transform: none;
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slider {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 4px;
  max-width: 1440px;
  height: 488px;
  position: relative;
  overflow: hidden;
  gap: 20px;
}

.slider .slider-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.slider-header h3 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  font-style: normal;
  color: var(--static-white);
  color: var(--static-white);
  font-weight: normal;
}

.slider-header h2 {
  font-family: var(--base-font-family);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  color: var(--static-white);
  font-weight: var(--base-font-weight);
  text-transform: var(--base-text-transform);
}

.slider-items {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
  height: 200px;
  position: relative;
  padding: 0 80px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.slider-image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slider-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
  display: block;
  transition: transform 0.3s ease;
}

.slider-word {
  color: var(--static-white);
  font-family: var(--base-font-family);
  font-size: 80px;
  white-space: nowrap;
  font-weight: 600;
  text-transform: var(--base-text-transform);
}

.slider-controls {
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
  gap: 20px;
}

.prev,
.next {
  width: 56px;
  height: 56px;
  border-radius: 20px;
  border: 0.5px solid var(--static-white);
  color: var(--static-white);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  background-color: transparent;
}

.prev.active,
.next.active {
  background-color: transparent;
  border: 1px solid var(--content-bg);
}

.prev.inactive,
.next.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

.prev img,
.next img {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(100%);
}

.active:hover,
.active:hover {
  background-color: var(--static-white);
}

.active:hover img,
.active:hover img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(96%) saturate(7152%)
    hue-rotate(343deg) brightness(97%) contrast(100%);
}

.special-gifts {
  background-color: var(--primary);
  max-width: 1440px;
  height: 554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  gap: 18px;
}

.special-gifts-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.special-gifts-label {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  color: var(--static-white);
  margin-bottom: 8px;
}

.special-gifts-title {
  font-family: var(--base-font-family);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  color: var(--static-white);
  font-weight: var(--base-font-weight);
  text-transform: var(--base-text-transform);
}

.gift-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 12px;
}

.gift-card {
  width: 100%;
  max-width: 310px;
  height: 342px;
  background-color: var(--content-bg);
  color: var(--dark);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-card:hover {
  color: var(--primary);
}

.gift-card:hover .card-title {
  color: var(--primary);
}

.card-image {
  width: 310px;
  height: 230px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--static-white);
  width: 100%;
  height: 100px;
  border-radius: 20px;
  flex-grow: 1;
}

.card-tag {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.card-tag.work {
  color: var(--tag-purple);
}

.card-tag.health {
  color: var(--tag-green);
}

.card-tag.harmony {
  color: var(--tag-pink);
}

.card-title {
  color: var(--dark);
  margin-bottom: 16px;
  text-transform: uppercase;
  font-style: normal;
  font-family: var(--base-font-family);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  font-weight: var(--base-font-weight);
}

.cta {
  position: relative;
  text-align: center;
  background-color: var(--primary);
  height: 668px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  border-radius: 0 0 20px 20px;
}

.cta-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 428px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  z-index: 10;
}

.santa-sleigh {
  position: absolute;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  background-image: url('../images/bg-forest.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta h2 {
  font-family: var(--base-font-family);
  font-size: var(--h2-font-size);
  line-height: 148%;
  letter-spacing: var(--h2-letter-spacing);
  font-weight: var(--base-font-weight);
  text-transform: var(--base-text-transform);
  color: var(--static-white);
}

.countdown-timer-text {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  color: var(--static-white);
  margin: 0;
}

.countdown-timer {
  width: 344px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: var(--static-white-40);
}

.timer-cells {
  display: flex;
  position: relative;
}

.timer-cell:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: var(--static-white);
  opacity: 0.4;
}

.timer-cell {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: relative;
}

.timer-cell .number {
  font-family: var(--base-font-family);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--static-white);
  font-weight: var(--base-font-weight);
}

.timer-cell .label {
  font-family: var(--base-font-family);
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: var(--static-white);
  text-transform: uppercase;
}

footer {
  max-width: 1440px;
  width: 100%;
  height: 496px;
  box-sizing: border-box;
  margin: 0 auto;
}

.footer-container {
  background: var(--static-white);
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 0 auto;
}

.contact-item {
  flex: 1 1 30%;
  min-width: 0;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background-color: var(--content-bg);
  color: var(--dark);
  border-radius: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact-item img {
  width: 100%;
  max-width: 80px;
  height: auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.contact-content h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  margin: 0;
}

.contact-item:hover {
  color: var(--primary);
  cursor: pointer;
}

.contact-item-text {
  font-family: var(--base-font-family);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.social-link img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

.social-link:hover img {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(32%) sepia(96%) saturate(7152%)
    hue-rotate(343deg) brightness(97%) contrast(100%);
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 0px;
}

.copyright-text {
  text-align: center;
  font-size: 16px;
  text-transform: none;
  padding-top: 12px;
  font-weight: 400;
  line-height: 148%;
}

.school-link {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: none;
  color: var(--dark);
  transition: color 0.3s ease;
  text-decoration: none;
}

.school-link:hover {
  color: var(--primary);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

@media screen and (max-width: 1060px) {
  .contact-info {
    flex-direction: column;
  }

  .contact-item {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 0 8px;
  }

  .nav-links {
    display: none;
  }

  .about-container {
    margin: 20px 8px;
    padding: 0;
  }

  .about-text-container {
    margin-left: 60px;
    margin-right: 0px;
  }

  .about-text {
    padding: 50px 50px 50px 0px;
    gap: 20px;
  }

  .slider {
    padding: 60px 0px;
  }

  .slider-items {
    padding: 0 8px;
  }

  .slider-controls {
    margin-right: 8px;
  }

  .special-gifts {
    height: 100%;
    height: 908px;
  }

  .gift-cards {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    height: 100%;
    height: 928px;
  }

  .footer-container {
    padding: 60px 8px;
  }

  .contact-item {
    padding: 20px 10px;
  }

  .burger-menu {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: auto 0;
  }

  .burger-line,
  .burger-line::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--dark);
    transition: transform 0.3s ease-in-out;
    left: 50%;
    transform: translate(-50%);
  }

  .burger-line {
    top: 15px;
  }

  .burger-line::before {
    top: 8px;
  }

  .burger-menu.active::before {
    transform: translateY(7px) rotate(45deg);
  }

  .burger-menu.active .burger-line {
    opacity: 0;
  }

  .burger-menu.active::after {
    transform: translateY(-7px) rotate(-45deg);
  }

  .nav-links {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: var(--static-white);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active .nav-item {
    padding: 12px 0;
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .christmas-ball {
    margin-top: 85px;
  }

  .hero {
    height: 572px;
  }

  .christmas-ball-image {
    background-size: cover;
  }

  .about {
    height: 1000px;
  }

  .about-container {
    grid-template-columns: 1fr;
    height: 880px;
  }

  .about-text {
    padding: 60px 0px;
  }

  .about-text-container {
    margin-left: 20px;
  }

  .about-image {
    height: 528px;
  }

  .special-gifts {
    height: 100%;
    height: 1616px;
  }

  .gift-cards {
    grid-template-columns: 1fr;
  }

  .cta {
    height: 100%;
    height: 704px;
  }
}

@media (hover: none) {
  .nav-item:hover,
  .btn-primary:hover,
  .social-link:hover,
  .contact-item:hover,
  .gift-card:hover {
    background-color: initial;
    color: initial;
    transform: none;
  }
}
